:root {
  --main-bg-color: #3C2313;
  --secondary-bg-color: #B18049;
  --tertiary-bg-color: #dcbb96;
  --main-text-color: #fff;
  --button-color: #6e0606;
  --font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 100px;
  font-family: var(--font-family);
  margin: 0;
  height: 100vh;
  /* font-size: 1em; */
}


main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #bfb29b;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 15px;
  width: 90%;

}

input,
textarea {
  width: 100%;
}

button[type="submit"] {

  background-color: var(--button-color);
  /* max-width: 50%;
  height: 60%; */
  color: var(--main-text-color);
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  padding: 0px 5px 0px 5px;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px black; */
  border-radius: 5px;
  /* background-color: var(--secondary-bg-color); */
  padding: 2px;

  /* height: 160px; */
  color: var(--main-text-color);

}

.section-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#bg-woodworker {
  background-image: url(../img/2149451051.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#bg-plank {
  background-image: url(../img/charpentier-coupant-le-panneau-de-forces-de-defense-principale-a-l-interieur-de-l-atelier.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#bg-sculpture {
  background-image: url(../img/le-charpentier-travaille-avec-un-arbre.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}


p .savoir-plus,
#contact-link {
  background-color: var(--button-color);
  max-width: 50%;
  height: 50%;
  color: var(--main-text-color);
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  padding: 3px;
}

header {
  padding: 0;
  position: sticky;
  top: 0px;
  /* bottom: 400px; */
  /* height: 20%; */

}

nav {
  display: flex;
  border: solid 1px black;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  /* position: sticky; */
  height: 100%;

}

nav #company-logo {
  border-right: solid 1px var(--main-bg-color);
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-text-color);
}

nav #company-logo a {
  text-decoration: none;
  color: var(--main-text-color);
}

nav ul li {
  display: inline;
  padding: 5px 20px 5px 5px;

}

nav ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: solid black 1px;
  padding: 0px 5px 5px 5px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  /* position: fixed;
  bottom: 0px; */
}

@media (width > 425px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* font-size: 1em; */
  }

  nav #company-logo {
    font-size: larger;
  }

  main {
    padding-bottom: 5px;
    gap: 5px;

  }

  section {
    /* width: 98%; */
    border: none;
    border-radius: 0px;
    /* height: 300px; */
  }

  .section-bg {
    width: 100%;
    height: 300px;
  }

  h3 {
    font-size: 1.5em;
  }

  input,
  textarea {
    width: 70%;
    margin-bottom: 5px;
  }

}